<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="utf-8" name="Hackathon Finder" content="This is where you come to get a dev job">
    <title>The Hackathon Finder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-steps@2.2.1/dist/css/bulma-steps.min.css">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Muli&display=swap" rel="stylesheet">



</head>

<body>
    {{> navbars/navbar}}
    {{{ body }}}
</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>