

<div class="field">
    <label class="label is-large" id="newHackathonTitle">Hackathon Title</label>
    <div class="control">
      <input class="input is-large" type="text" placeholder="Title">
    </div>
  </div>

  <div class="field">
    <label class="label is-large">Hackathon Description</label>
    <div class="control">
      <textarea class="textarea" placeholder="Description"></textarea>
    </div>
  </div>
  
  
  <div class="field">
    <label class="label is-large">Maximum Student Required</label>
    <div class="control">
      <input class="input is-large" type="text" placeholder="Put number here">
    </div>
    
  </div>

  <div class="field">
    <label class="label is-large">Start date</label>
    <div class="control">
      <input class="input is-large" type="text" placeholder="YYYY-MM-DD">
      <p class="help">Please enter the date using the format of "YYYY-MM-DD"</p>
    </div>
    
  </div>

  <div class="field">
    <label class="label is-large">Finish date</label>
    <div class="control">
      <input class="input is-large" type="text" placeholder="YYYY-MM-DD">
      <p class="help">Please enter the date using the format of "YYYY-MM-DD"</p>
    </div>
    
  </div>


  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Create New Hackathon</button>
    </div>
    <div class="control">
      <button class="button is-link is-light">Cancel</button>
    </div>
  </div>