<section class="container">
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-12">
            <div class="tile">
                {{>dashboard/user-info}}
                {{>dashboard/create-and-attending-hackathons}}
            </div>
            <div class="tile is-parent">
                {{>dashboard/hackathons}}
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="js/dashboard.js"></script>