<div class="columns">
    <div class="column is-4"></div>

    <div class="column is-4">
        <div class="box login">
        <h1>Login Form</h1>
        <form class="login">
            <div class="field">
                <label for="exampleInputEmail1">Email address</label>
                <div class="control">
                    <input type="email" class="input" class="form-control" id="email-input" placeholder="Email">
                </div>
            </div>
            <div class="field">
                <label for="exampleInputPassword1">Password</label>
                <div class="control">
                    <input type="password" class="input" class="form-control" id="password-input"
                        placeholder="Password">
                </div>
            </div>
            <button type="submit" class="btn btn-default">Login</button>
        </form>
        <br />
        <p>Or sign up <a href="/signup">here</a></p>
        </div>
    </div>

    <div class="column is-4"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="js/login.js"></script>