<link href="/stylesheets/style.css" rel="stylesheet">

<form class="signup">
    <div class="steps" id="stepsDemo">
        <div class="step-item is-active is-success">
            <div class="step-marker">1</div>
            <div class="step-details">
                <p class="step-title">Profile</p>
            </div>
        </div>
        <div class="step-item">
            <div class="step-marker">2</div>
            <div class="step-details">
                <p class="step-title">Account</p>
            </div>
        </div>
        <div class="step-item">
            <div class="step-marker">3</div>
            <div class="step-details">
                <p class="step-title">Information</p>
            </div>
        </div>
        <div class="step-item">
            <div class="step-marker">4</div>
            <div class="step-details">
                <p class="step-title">Finish</p>
            </div>
        </div>

        <div class="steps-content">
            <!-- step 1 -->
            <div class="step-content has-text-centered">

                <div class="columns">
                    <div class="column is-4"></div>

                    <div class="column is-4">
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <label class="radio">
                                        <input type="radio" name="roleAnswer" value="0" id="studentInput" />Student
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="roleAnswer" value="1" id="companyInput" />Company
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- step 2 -->
            <div class="step-content has-text-centered is-active">

                <div class="columns">
                    <div class="column is-4"></div>

                    <div class="column is-4">

                        <div class="field">
                            <label for="exampleInputEmail1">Email address</label>
                            <div class="control">
                                <input type="email" class="input" id="email-input" placeholder="Email" name="email" />
                            </div>
                        </div>
                        <div class="field">
                            <label for="exampleInputPassword1">Password</label>
                            <div class="control">
                                <input type="password" class="input" id="password-input" placeholder="Password"
                                    name="password" />
                            </div>
                        </div>
                        <div class="field">
                            <label for="exampleInputlocated">Location</label>
                            <div class="control">
                                <input type="text" class="input" id="location-input" placeholder="Location"
                                    name="location" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-4"></div>

            </div>


            <!-- step 3 where student or company questions appear -->
            <div class="step-content has-text-centered">

                <div class="columns">
                    <div class="column is-4"></div>

                    <div class="column is-4 appendRoleSelect">
                        <!--student questions-->
                        <div class="student-questions hidden">
                            <div class="field">
                                <label for="exampleInputFullName">Full Name</label>
                                <div class="control">
                                    <input type="text" class="input" id="fullName-input" />
                                </div>
                            </div>
                            <div class="field">
                                <label for="exampleInputCourse">What course did you gaduate from?</label>
                                <div class="control">
                                    <input type="text" class="input" id="course-input" />
                                </div>
                            </div>
                            <div class="field">
                                <label for="exampleInputTechnologies">What technology feilds are you experienced
                                    in?</label>
                                <div class="control">
                                    <input type="text" class="input" id="technology-input" />
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label class="radio" for="exampleInputEmployment">Were you looking for employment?
                                        <input type="radio" name="employmentanswer" value="yes" />Yes
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="employmentanswer" value="no" />No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!--company questions-->
                        <div class="company-questions hidden">
                            <div class="field">
                                <label for="exampleInputCompanyName">Company Name</label>
                                <div class="control">
                                    <input type="text" class="input" id="companyName-input" />
                                </div>
                            </div>
                            <div class="field">
                                <label for="exampleInputIndustry">What industry is your company in?</label>
                                <div class="control">
                                    <input type="text" class="input" id="industry-input" />
                                </div>
                            </div>
                            <div class="field">
                                <label for="exampleInputMaxEmployees">How many employees do you have?</label>
                                <div class="control">
                                    <input type="number" class="input" id="maxEmployees-input" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <!-- step 4 -->
            <div class="step-content has-text-centered" id="appendValidateResult">
                <h1 class="title is-4">We now have all your details, click Sign Up to create your account!</h1>
            </div>

            <!-- previous, next & signup btns-->
            <div class="steps-actions">
                <div class="steps-action">
                    <a href="#" data-nav="previous" id="previous" class="button is-light">Previous</a>
                </div>
                <div class="steps-action">
                    <a href="#" id="next" class="button is-light">Next</a>
                    <a href="#" data-nav="next" id="next-hidden" class="button is-light hidden">Next</a>
                    <button id="submit-btn" style="display: none;" type="submit" class="button is-light">Sign
                        Up</button>
                </div>
            </div>


</form>
<br />
<p>Or log in <a href="/">here</a></p>


<div class="column is-4"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bulma-steps@2.2.1/dist/js/bulma-steps.js"></script>
<script>bulmaSteps.attach();</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="js/signup.js"></script>