<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        {{!--<h1 style="font-size: 40px;">Hackathon Finder</h1>--}}
        <a class="navbar-item">
            <img src="asset/logo.png" alt="logo" width="140">
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            
                <a class="button " href="/">
                    <strong>Log out</strong>
                </a>
            
        </div>
    </div>
</nav>